.DS_Store
Corpus/Andromaque.xpr 
Corpus/Andromaque_w.xml
Corpus/Andromaque.xml
Corpus/regex.txt
Corpus/README.md 
Corpus/XSLT
*.1
*.1R
*.aux
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.log
*.out
*.toc
*.gz
