/Users/gabaysimon/GitHub/Cours_2019_04_Lyon/Corpus/Andromaque_w.xml 
/Users/gabaysimon/GitHub/Cours_2019_04_Lyon/Corpus/Andromaque.xpr 
/Users/gabaysimon/GitHub/Cours_2019_04_Lyon/Corpus/README.md 
/Users/gabaysimon/GitHub/Cours_2019_04_Lyon/Corpus/regex.txt 
/Users/gabaysimon/GitHub/Cours_2019_04_Lyon/Corpus/XSLT
